body
{
    background-color: rgb(7, 37, 16);
    color: whitesmoke;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

p 
{
    margin-left: 10px;
    text-justify: auto;
}


.title2
{
    position: relative;
    text-align: left;
    color: rgb(238, 238, 238);
    font-size: 40px;
    text-shadow: -2px 0 rgb(71, 38, 15), 0 2px rgb(71, 38, 15), 2px 0 rgb(71, 38, 15), 0 -2px rgb(71, 38, 15);
    margin-left: 25px;
}

.title
{
    position: relative;
    text-align: center;
    color: rgb(238, 238, 238);
}

h1.title
{
    position: relative;
    text-align: center;
    color: rgb(238, 238, 238);
    font-size: 75px;
    text-shadow: -2px 0 rgb(71, 38, 15), 0 2px rgb(71, 38, 15), 2px 0 rgb(71, 38, 15), 0 -2px rgb(71, 38, 15)
}



.center_content
{
    display: flex; 
    justify-content: center;
}

a:hover{color:rgb(194, 194, 194);}
a:active{
    background-color:rgb(92, 70, 45);
}

.button
{
    background-color: rgb(117, 89, 57);
    border: none;
    color: rgb(238, 238, 238);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 10px;
}

.button.bottom_right
{
    background-color: rgb(117, 89, 57);
    border: none;
    color: rgb(238, 238, 238);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 10px;

    position: absolute;

    top: 0%;
    right: 0%;
}

.download
{
    text-decoration: none !important;
    background-color: rgb(88, 61, 26);
    color: rgb(255, 255, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 10px;
}

.download:hover{color:rgb(255, 200, 90);}
.download:active{
    background-color: green;
}

.photo
{
    margin-right: 65px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 7px;
    box-shadow: 2px 0 rgb(85, 30, 0), 0 1px rgb(85, 30, 0);
}

/*Image Position Gestion*/
.upper_left {
    position: absolute;

    top: 0%;
    left: 0%;}
.upper_right{
    position: absolute;

    top: 0%;
    right: 0%;}
.bottom_left{
    position: absolute;

    bottom: 0%;
    left: 0%;}
.bottom_right{
    position: absolute;

    bottom: 0%;
    right: 0%;}

/*Font Gestion*/
.rob{
    font-family: Roboto, Arial, Helvetica, sans-serif;}
@font-face {
    font-family: 'robotomedium';
    src: url('/roboto/roboto-medium.woff2') format('woff2'),
         url('/roboto/roboto-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'robotoregular';
    src: url('/roboto/roboto-regular.woff2') format('woff2'),
         url('/roboto/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;}